.checkout.container 
    //- pre {{ order }}
    h1 Order
    .checkout__item(v-for="(item, index) in order.items" :key="index")
        p {{ item.item.title }}
        p {{ item.item.price + '€' }}
    .checkout__total 
        h3 Total: {{ order.total + '€' }}
        h3 Order date: 
        p {{ order.date }}
    .checkout__payment 
        h3 Payment method: 
        form(@submit.prevent="doPayment")
            input(
                type="radio",
                id="credit", 
                value="credit",
                name="credit",
                v-model="paymentMethod",
                @input="paymentMethod = $event.target.value")
            label(for="credit") Credit card
            input(
                type="radio",
                id="paypal",
                value="paypal",
                name="payment",
                v-model="paymentMethod",
                @input="paymentMethod = $event.target.value")
            label(for="paypal") Paypal
            div.mt-2
                button(type="submit") Pay