.app-categories(v-if="categories")
    select(
        name="categories",
        @change="emitValue",
        v-model="categorySelected")
        option(value="all", selected="selected") all
        option(
            v-for="(cat, index) in categories.values",
            :key="cat",
            :value="cat.category") {{cat.category}}