button, input[type="submit"]{
    // border: 1px solid #0000;
    border: none;
    background-color: #000000;
    color: #ffffff;
    padding: 10px 14px;
    font-size: 16px;
    border-radius: 3px;
    display: inline-block;
    min-width: 140px;
    cursor: pointer;

    &:disabled{
        background-color: #7c7c7c;
        cursor: default;
    }

    &.small{
        min-width: auto;
    }
}