.payment.container(v-if="invoiceDetails.values") 
    //- pre {{ order }}
    h1 Order details 
    h4 Invoice ID: 
    p {{ invoiceDetails.values.id }}
    h4 Order ID: 
    p {{ invoiceDetails.values.orderId }} 
    h4 Order Date: 
    p {{ invoiceDetails.values.date }}
    h4 User: 
    p Name: {{ invoiceDetails.values.user.name }}
    p Email: {{ invoiceDetails.values.user.email }}
    .payment__items
        h4 Items:
        .payment__item(v-for="(item, index) in invoiceDetails.values.items" :key="index")
            p {{ item.item.title }}
            p {{ item.item.price + '€' }}  
    h4 Total with VAT: {{ invoiceDetails.values.total + '€' }}
    button.mt-2(@click="resetShoppingCart") Buy again