body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
}

main{
    padding-top: 70px;
}

footer{
    padding: 30px 0;
    text-align: right;
}

.mt-2{
    margin-top: 20px;
}

.mb-2{
    margin-bottom: 20px;
}
