form input, form label{
    display: block;
}

form input[type="radio"], form input[type="checkbox"]{
    display: inline-block;
    margin-bottom: 15px;

    +label{
        display: inline-block;
        margin: 0 6px
    }
}

form input:not(input[type="submit"], input[type="radio"]){
    margin-bottom: 15px;
    width: 100%;
    min-height: 40px;
}