.app-product-card{
    width: calc((100% / 4) - 24px);
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    overflow: hidden;
    // border: 1px solid #e9e9e9;
    cursor: pointer;

    &:hover{
        img{
            transform: scale(.9);
        }
    }

    &__img{
        padding: 20px;
        position: relative;
        height: 300px;
        background-color: #faf8f8;
        overflow: hidden;
        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
            transition: transform .3s ease-out;
        }
    }

    &__body{
        padding-top: 30px;
        padding-bottom: 15px;
        display: flex;
        justify-content: space-between;
        gap: 40px;
        min-height: 100px;
    }

    &__footer{
        display: flex;
        justify-content: space-between;
        gap: 40px;
    }
}