.app-product-card(v-if="product")
    .app-product-card__img
        img(:src="product.image", alt)
    .app-product-card__body
        span {{ product.title }}
        span {{ product.price + '€' }}
        //- span {{ product.getPriceWithTaxes() }}
    .app-product-card__footer 
        slot(name="footer")