.login{
    
    form{
        width: 100%;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    form input, form label{
        display: block;
    }

    form input{
        margin-bottom: 15px;
    }
}