.home 
    .container 
        h2 Categories
        app-categories
    .container
        h2 Products
        .products
            product-card(
                v-for="(product, index) in products.values", :key="index",
                :product="product",
                @click="goToDetail(product.id)")