<script setup lang="ts">
import AppHeader from '@/components/app-header/index.vue'

</script>

<template>
  <app-header></app-header>
  <main>
    <RouterView />
  </main>
  <footer class="container">
    <small>iamadeveloper 2023 &copy;</small>
  </footer>
</template>
