.container 
    .login 
        h1 Login
        form(@submit.prevent="doLogin")
            label(for="name") Name 
            input(
                type="text", 
                id="name", 
                v-model="userName"
                @input="userName = $event.target.value")
            label(for="email") Email 
            input(
                type="text", 
                id="email", 
                v-model="userEmail"
                @input="userEmail = $event.target.value")
            input(
                type="submit",
                value="Login", 
                :disabled="!isFormValid")