.cart.container 
    h1 Cart Items {{ cart.items.length }}
    .products
        product-card(
            v-for="(product, index) in cart.items", :key="index",
            :product="product.item")
            template(#footer) 
                button(@click="removeItem(product.item)") Delete
                div
                    span Quantity: 
                    select(
                        name="quantity",
                        v-model="quantity"
                    )
                        option(
                            v-for="num in 6" 
                            :key="num",
                            :value="num") {{ num }}
    .cart__total
        h3 Total: {{ cart.getTotal() + '€' }}
        button(@click="checkoutOrder") Checkout