.app-product-detail(v-if="product")
    .app-product-detail__img
        img(:src="product.image", alt)
    .app-product-detail__footer 
        h1 {{ product.title }}
        h3 Description:
        p {{ product.description }}
        h3 price: {{ product.price + '€' }}
        .app-product-detail__actions 
            button.mt-2(@click="addToCart") Add to cart