.app-header{
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    &__list{
        width: 100%;
        display: flex;
        gap: 20px;
        align-items: center;
    }
}