header.app-header.container(v-if="isUserLogged")
    nav.app-header__nav 
        ul.app-header__list 
            li.app-header__item(v-for="(route, index) in routes", :key="index")
                router-link(:to="route.path") {{ route.label }}
    nav.app-header__nav 
        ul.app-header__list 
            li.app-header__item(v-for="(route, index) in routesRight", :key="index")
                router-link(
                    v-if="!route.action && route.label === 'cart' && cartCount > 0",
                    :to="route.path") {{ route.label }} 
                    span {{ cartCount }}
                button.small(
                    v-if="route.action" 
                    @click="route.action") {{ route.label }}